@charset "UTF-8";

.header{
    background-color: #fa0;
    .aa{
        background-color: #fff;
        .bb{
            font-size: 14px;
            .ff{
                font-size: 10px;
            }
        }
    }
}